<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Title</title>
</head>
<body>
	<div th:fragment="header">
 	   <header class="d-flex align-items-center">
            <div class="logo"><img alt="로고" src="/img/logo.png" class="align-middle" width="64"></div>
            <div><h1><a href="/" class="logo-text">SMARTBUTLER</a></h1></div>
        </header>
	</div>
	<div th:fragment="sidebar">
 	   <div id="navi" class="">
			<ul>
				<li><a href="#">건물정보</a></li>
				<li><a href="#">시설관리</a></li>
				<li><a href="#">임대관리</a></li>
				<li><a href="#">견적관리</a></li>
				<li><a href="#">민원관리</a></li>
				<li><a href="#">회원정보</a></li>
			</ul>
		</div>
	</div>
	<div th:fragment="worker-sidebar">
		<div id="navi" class="">
			<ul>
				<li><a href="/worker/job/list">작업목록</a></li>
			</ul>
		</div>
	</div>
</body>
</html>