<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
    <title>SMARTBUTLER</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
    <link rel="manifest" href="/img/site.webmanifest">
</head>
<body>
	<div id="wrap">
		<div th:replace="~{common/fragments :: adminHeader}"></div>
		<div th:replace="~{common/fragments :: adminSidebar}"></div>
        <div class="container">
        	<div class="bread-crum">
				<ul class="">
					<li><a href="#">HOME</a><span> ></span></li>
					<li><a href="#">견적관리</a><span> ></span></li>
					<li><a href="#">견적신청목록</a></li>
				</ul>
			</div>
			<div class="content">
				<table class="table table-hover text-center">
					<thead>
						<tr>
							<th scope="col">견적 번호</th>
							<th scope="col">신청인</th>
							<th scope="col">건물명</th>
							<th scope="col">계약기간</th>
							<th scope="col">입실일자</th>
							<th scope="col">보증금</th>
							<th scope="col">작성일자</th>
							<th scope="col">계약여부</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="estimate: ${estimate}">
							<td>[[${estimate.estimateId}]]</td>
							<td><a th:href="@{/admin/estimates/{estimateId}(estimateId = ${estimate.estimateId})}">[[${estimate.userName}]]</a></td>
							<td><a th:href="@{/admin/estimates/{estimateId}(estimateId = ${estimate.estimateId})}">[[${estimate.buildName}]]</a></td>
							<td>[[${estimate.period}]]</td>
							<td>[[${estimate.toDate}]]</td>
							<td>[[${estimate.deposit}]]</td>
							<td>[[${estimate.regDate}]]</td>
							<td th:if="${estimate.confirm == 1 }">신청</td>
							<td th:if="${estimate.confirm == 2 }">승인</td>
							<td th:if="${estimate.confirm == 3 }">반려</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		document.getElementById('sub3').style.display = 'block';
		document.querySelectorAll('#sub3 > li')[2].style.backgroundColor = '#003366';
	</script>
</body>
</html>