<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
    <title>SMARTBUTLER</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
    <link rel="manifest" href="/img/site.webmanifest">
</head>
<body>
	<div id="wrap">
		<div th:replace="~{common/fragments :: adminHeader}"></div>
		<div th:replace="~{common/fragments :: adminSidebar}"></div>
        <div class="container">
        	<div class="bread-crum">
				<ul class="">
					<li><a href="#">HOME</a><span> ></span></li>
					<li><a href="#">견적관리</a><span> ></span></li>
					<li><a href="#">견적신청내역</a></li>
				</ul>
			</div>
	        <div class="content form-content">
		        <form action="">
		        	<div class="row align-items-center mb-4">
			        	<div class="col-2">
							<label for="" class="ms-4 fw-bold">견적 번호</label>
						</div>
						<div class="col-4">
							<input type="text" class="form-control">
						</div>
						<div class="col-2">
							<label for="" class="ms-4 fw-bold">작성 일자</label>
						</div>
						<div class="col-4">
							<input type="date" class="form-control">
						</div>
					</div>
					<div class="row align-items-center mb-4">
			        	<div class="col-2">
							<label for="" class="ms-4 fw-bold">신청인</label>
						</div>
						<div class="col-4">
							<input type="text" class="form-control">
						</div>
						<div class="col-2">
							<label for="" class="ms-4 fw-bold">건물명</label>
						</div>
						<div class="col-4">
							<input type="text" class="form-control">
						</div>
					</div>
					<div class="row align-items-center mb-4">
			        	<div class="col-2">
							<label for="" class="ms-4 fw-bold">예상 계약기간</label>
						</div>
						<div class="col-4">
							<input type="text" class="form-control">
						</div>
						<div class="col-2">
							<label for="" class="ms-4 fw-bold">예상 입실일자</label>
						</div>
						<div class="col-4">
							<input type="date" class="form-control">
						</div>
					</div>
					<div class="row align-items-center mb-4">
			        	<div class="col-2">
							<label for="" class="ms-4 fw-bold">보증금</label>
						</div>
						<div class="col-4">
							<input type="text" class="form-control">
						</div>
						<div class="col-2">
							<label for="" class="ms-4 fw-bold">계약 여부</label>
						</div>
						<div class="col-4">
							<input type="text" class="form-control">
						</div>
					</div>
					<div class="row align-items-center mb-4">
			        	<div class="col-2">
							<label for="" class="ms-5 fw-bold">비고</label>
						</div>
						<div class="col-10">
							<textarea rows="4" class="form-control"></textarea>
						</div>
					</div>
					<div class="row justify-content-end mt-3">
						<input type="button" class="btn btn-primary col-1 me-3" value="완료">
						<input type="button" class="btn btn-outline-dark col-1 me-3" value="목록">
					</div>
		        </form>
	        </div>
        </div>
	</div>
	
</body>
</html>