<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SMARTBUTLER</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
    <link rel="manifest" href="/img/site.webmanifest">
</head>
<body>
	<div id="wrap">
		<div th:replace="~{common/common :: header}"></div>
		<div th:replace="~{common/common :: sidebar}"></div>
		<div class="container">
			<div class="bread-crum">
				<ul class="">
					<li><a href="#">HOME</a><span> ></span></li>
					<li><a href="#">시설관리</a><span> ></span></li>
					<li><a href="#">작업요청</a></li>
				</ul>
			</div>
			<div class="content form-content">
				<form action="/admin/1/job/add" method="post">
					<div class="row g-3 align-items-center mb-2">
						<div class="col-1"><label for="jobId" class="col-form-label fw-bold">요청번호</label></div>
						<div class="col-5"><input type="text" name="jobId" class="form-control"></div>
						<div class="col-1"><label for="askDate" class="col-form-label fw-bold">요청날짜</label></div>
						<div class="col-5"><input type="text" name="askDate" class="form-control"></div>
					</div>
					<div class="row g-3 align-items-center mb-2">
						<div class="col-1"><label for="itemName" class="col-form-label fw-bold">시설명</label></div>
						<div class="col-5"><input type="text" name="itemName" class="form-control"></div>
						<div class="col-1"><label for="companyName" class="col-form-label fw-bold">점검업체</label></div>
						<div class="col-5"><input type="text" name="companyName" class="form-control"></div>
					</div>
					<div class="row g-3 align-items-center mb-2">
						<div class="col-1"><label for="buildName" class="col-form-label fw-bold">건물명</label></div>
						<div class="col-5"><input type="text" name="buildName" class="form-control"></div>
						<div class="col-1"><label for="imageName" class="col-form-label fw-bold">이미지</label></div>
						<div class="col-5"><input type="file" id="formFile" name="imageName" class="form-control"></div>
					</div>
					<div class="row row-cols-1 g-3 align-items-center mb-2">
						<div class="col"><label for="title" class="col-form-label fw-bold">제목</label></div>
						<div class="col m-0"><input type="text" name="title" class="form-control"></div>
					</div>
					<div class="row row-cols-1 g-3 align-items-center mb-2">
						<div class="col"><label for="content" class="col-form-label fw-bold">요청내용</label></div>
						<div class="col m-0"><textarea rows="3" name="content" class="form-control"></textarea></div>
					</div>
					<div class="row justify-content-end mt-4">
						<input type="submit" value="전송" class="btn btn-primary col-1 me-3">
						<button type="button" class="btn btn-outline-dark col-1 me-3" onClick="location.href='/admin/1/job/list'">취소</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>