<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SMARTBUTLER</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
    <link rel="manifest" href="/img/site.webmanifest">
</head>
<body>
	<div id="wrap">
		<div th:replace="~{common/fragments :: adminHeader}"></div>
		<div th:replace="~{common/fragments :: adminSidebar}"></div>
		<div th:replace="~{common/fragments :: imageModal}"></div>
		<div class="container">
			<div class="bread-crum">
				<ul class="">
					<li>HOME<span> ></span></li>
					<li>시설관리<span> ></span></li>
					<li>작업상세</li>
				</ul>
			</div>
			<div class="content form-content">
				<form th:action="@{/admin/buildings/{buildId}/jobs/{jobId}(buildId = ${job.buildId}, jobId = ${job.jobId})}" th:method="delete" id="deleteForm">
					<div class="row g-3 align-items-center mb-2">
						<div class="col-1"><label class="col-form-label fw-bold">요청번호</label></div>
						<div class="col-4"><input type="text" th:value="${job?.jobId}" class="form-control" disabled></div>
						<div class="col-1"></div>
						<div class="col-1"><label class="col-form-label fw-bold">요청날짜</label></div>
						<div class="col-4"><input type="text" th:value="${job?.askDate}" class="form-control" disabled></div>
					</div>
					<div class="row g-3 align-items-center mb-2">
						<div class="col-1"><label class="col-form-label fw-bold">시설명</label></div>
						<div class="col-4"><input type="text" th:value="${job?.itemName}" class="form-control" disabled></div>
						<div class="col-1"></div>
						<div class="col-1"><label class="col-form-label fw-bold">점검업체</label></div>
						<div class="col-4"><input type="text" th:value="${job?.companyName}" class="form-control" disabled></div>
					</div>
					<div class="row g-3 align-items-center mb-2">
						<div class="col-1"><label class="col-form-label fw-bold">건물명</label></div>
						<div class="col-4"><input type="text" th:value="${job?.buildName}" class="form-control" disabled></div>
						<div class="col-1"></div>
						<div class="col-1"><label class="col-form-label fw-bold">처리상태</label></div>
						<div class="col-4"><input type="text" th:value="${job.status == 1} ? '신청' : '완료'" class="form-control" disabled></div>
					</div>
					<div class="row row-cols-1 g-3 align-items-center mb-2">
						<div class="col-11"><label class="col-form-label fw-bold">제목</label></div>
						<div class="col-11 m-0"><input type="text" th:value="${job?.title}" class="form-control" disabled></div>
					</div>
					<div class="row row-cols-1 g-3 align-items-center mb-2">
						<div class="col-11"><label class="col-form-label fw-bold">요청내용</label></div>
						<div class="col-11 m-0"><textarea rows="3" th:text="${job?.content}" class="form-control" style="resize:none" disabled></textarea></div>
					</div>
					<th:block th:if="${job.status == 2}">
						<div class="row g-3 align-items-center mb-2 mt-4">
							<div class="col-1"><label class="col-form-label fw-bold">작업자</label></div>
							<div class="col-4">
								<input type="text" th:value="${job?.companyManager}" class="form-control" disabled>
							</div>
							<div class="col-1"></div>
							<div class="col-1"><label class="col-form-label fw-bold">이미지</label></div>
							<div class="col-4 d-flex">
								<input type="file" id="uploadFile" name="uploadFile" class="form-control" style="display: none;" onchange="ChangeFileName()">
			                 	    	<input type="text" id="fileName" name="fileName" class="form-control col" 
			                 	    		th:value="${vo?.fileName}" placeholder="이미지가 존재하지 않습니다" style="display: inline;" disabled>
								<th:block th:if="${not #strings.isEmpty(vo.fileName)}">
			                 		    	<input type="button" id="modalBtn" class="btn btn-secondary col-auto" value="이미지 보기" data-bs-toggle="modal" data-bs-target="#imageModal">
								</th:block>
							</div>
						</div>
						<div class="row row-cols-1 g-3 align-items-center mb-2">
							<div class="col-1"><label class="col-form-label fw-bold">처리날짜</label></div>
							<div class="col-4"><input type="text" th:value="${job?.finDate}" class="form-control" disabled></div>
						</div>
						<div class="row row-cols-1 g-3 align-items-center mb-2">
							<div class="col-11"><label class="col-form-label fw-bold">처리내용</label></div>
							<div class="col-11 m-0"><textarea rows="3" th:text="${job?.reportContent}" class="form-control" style="resize:none" disabled></textarea></div>
						</div>
					</th:block>
					<div class="row col-11 justify-content-end mt-3">
						<th:block th:if="${job.status == 1}">
							<button type="button" class="btn btn-lg btn-primary col-auto me-3" th:onclick="|location.href='@{/admin/buildings/{buildId}/jobs/{jobId}/edit(buildId = ${job.buildId}, jobId = ${job.jobId})}'|">수정</button>
						</th:block>
						<button type="button" class="btn btn-lg btn-primary col-auto me-3" onclick="deleteClick(); return false;">삭제</button>
						<button type="button" class="btn btn-lg btn-outline-dark col-auto me-3" onClick="history.back()">목록</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<script src="/js/Button.js" type="text/javascript"></script>
	<script src="/js/bootstrap.min.js" type="text/javascript"></script>
	<script type="text/javascript">
		document.getElementById('sub2').style.display = 'block';
		document.querySelectorAll('#sub2 > li')[1].style.backgroundColor = '#003366';
	</script>
</body>
</html>