<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
    <title>SMARTBUTLER</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
    <link rel="manifest" href="/img/site.webmanifest">
</head>
<body>
	<div id="wrap">
		<div th:replace="~{common/fragments :: adminHeader}"></div>
		<div th:replace="~{common/fragments :: adminSidebar}"></div>
		<div class="container">
			<div class="bread-crum">
				<ul class="">
					<li>HOME<span> ></span></li>
					<li>회원정보<span> ></span></li>
					<li>회원목록</li>
				</ul>
			</div>
			<div class="content">
				<table class="table table-hover text-center">
					<thead>
						<tr>
							<th scope="col">회원번호</th>
							<th scope="col">회원명</th>
							<th scope="col">전화번호</th>
							<th scope="col">이메일</th>
							<th scope="col">회원유형</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="user: ${user}">
							<td>[[${user.userId}]]</td>
							<td><a th:href="@{/admin/users/{userId}(userId = ${user.userId})}">[[${user.userName}]]</a></td>
							<td><a th:href="@{/admin/users/{userId}(userId = ${user.userId})}">[[${user.phone}]]</a></td>
							<td><a th:href="@{/admin/users/{userId}(userId = ${user.userId})}">[[${user.email}]]</a></td>
							<td th:if="${user.status == 1 }">일반 회원</td>
							<td th:if="${user.status == 2 }">입주 회원</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<script type="text/javascript">document.getElementById('sub6').style.display = 'block';</script>
</body>
</html>