<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/css/bootstrap.min.css">
<title>작업 목록</title>
</head>
<body>
	<div class="w-100">
		<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom w-100" style="background-color: #002060">
			<a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto ms-3 link-body-emphasis text-decoration-none text-white"> <span class="fs-4">SMART BUTLER</span>
			</a>
		</header>
	</div>
	<div class="ms-3">
		<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="#">HOME</a></li>
				<li class="breadcrumb-item"><a href="#">시설관리</a></li>
				<li class="breadcrumb-item active" aria-current="page">작업목록</li>
			</ol>
		</nav>
	</div>
	<div class="m-3">
		<div class="d-grid justify-content-end my-3">
			<button type="button" class="btn btn-primary">신규 요청</button>
		</div>
		<table class="table">
			<thead>
				<tr>
					<th scope="col">요청번호</th>
					<th scope="col">제목</th>
					<th scope="col">요청날짜</th>
					<th scope="col">시설명</th>
					<th scope="col">요청내용</th>
					<th scope="col">점검업체</th>
					<th scope="col">처리상태</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>10010</td>
					<td><a href="/admin/1/job/list/1">문 안 닫힘</a></td>
					<td>2024-01-15</td>
					<td>엘리베이터1호기</td>
					<td>정원 초과 시...</td>
					<td>오티스엘리베이터</td>
					<td>완료</td>
				</tr>
				<tr>
					<td>10009</td>
					<td><a href="/admin/1/job/list/1">운행 중 정지</a></td>
					<td>2024-01-14</td>
					<td>엘리베이터2호기</td>
					<td>운행 중 ...</td>
					<td>오티스엘리베이터</td>
					<td>완료</td>
				</tr>
				<tr>
					<td>10008</td>
					<td><a href="/admin/1/job/list/1">난방 성능 저하</a></td>
					<td>2024-01-13</td>
					<td>냉난방기1호</td>
					<td>강으로 ...</td>
					<td>예성이엔지</td>
					<td>완료</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>