<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>회원목록</title>
</head>
<body>
	<div>
		<div>
			<div>
				<table>
					<thead>
						<tr>
							<th>회원번호</th>
							<th>건물명</th>
							<th>회원명</th>
							<th>전화번호</th>
							<th>이메일</th>
							<th>회원유형</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>10001</td>
							<td>[신촌]버티고타워</td>
							<td>커피빈</td>
							<td>010-0000-0000</td>
							<td>mail@email.com</td>
							<td>입주회원</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

</body>
</html>