<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>회원 상세</title>
</head>
<body>
	<div>
		<form action="/admin/user/list">
			<div>
				<label>회원번호</label>
				<input type="text">
				<label>전화번호</label>
				<input type="tel">
			</div>
			<div>
				<label>건물명</label>
				<input type="text">
				<label>이메일</label>
				<input type="email">
			</div>
			<div>
				<label>회원명</label>
				<input type="text">
				<label>회원유형</label>
				<input type="text">
			</div>
			<div>
				<input type="button" value="탈퇴">
				<input type="submit" value="목록">
			</div>
		</form>
	</div>

</body>
</html>