<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>SMARTBUTLER</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css" />
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/common.css">
<link rel="stylesheet" href="/css/user.css">
<link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32"	href="/img/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16"	href="/img/favicon-16x16.png">
<link rel="manifest" href="/img/site.webmanifest">
</head>
<body>
	<div th:replace="~{common/fragments :: userHeader}"></div>
	<div class="container" style="float: none;">
		<div class="content form-content">
			<h1 class="text-center mt-4">로그인</h1>
			<form action="/user/login" method="post" class="">
				<div
					class="row g-3 justify-content-center align-items-center mb-4 mt-3">
					<div class="col-7 mt-3 border-top border-5 border-black"></div>
				</div>
				<div
					class="row g-3 justify-content-center align-items-center mb-4 mt-2">
					<div class="col-2">
						<label for="email" class="">이메일</label>
					</div>
					<div class="col-5">
						<input type="email" name="email" class="form-control">
					</div>
				</div>
				<div class="row g-3 justify-content-center align-items-center mb-4">
					<div class="col-2">
						<label for="password" class="">비밀번호</label>
					</div>
					<div class="col-5">
						<input type="text" name="pw" class="form-control">
					</div>
				</div>
				<div class="row justify-content-center mt-3">
					<input type="submit" class="btn btn-dark col-auto" value="로그인">
				</div>
				<div class="row justify-content-center mt-3">
					<span class="text-center">또는</span>
				</div>
				<div class="row justify-content-center mt-3">
					<button type="button" class="btn btn-dark col-auto " onclick="location.href='/user/join'">회원가입</button>
				</div>
			</form>
		</div>
	</div>
	<div th:replace="~{common/fragments :: userFooter}"></div>
</body>
</html>