<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>SMARTBUTLER</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/user.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
    <link rel="manifest" href="/img/site.webmanifest">
</head>
<body>
	<div th:replace="~{common/fragments :: userHeader}"></div>
		<div class="container" style="float: none;">
			<div class="content form-content">
				<h2 class="text-center mt-2">건물 정보</h2>
				<div class="row g-3 justify-content-center align-items-center mb-4 mt-3">
					<div class="col-7 mt-3 border-top border-5 border-black"></div>
				</div>
				<div class="row g-3 justify-content-center align-items-center">
                    <div class="col-auto"><label for="buildId" class="form-label">관리비 일자 선택</label></div>
                </div>
                <div class="row g-3 justify-content-center align-items-center mb-4">
                    <form id="infoForm" class="infoForm col-auto" action="" method="get">
                    	<select class="form-select" id="costId" name="costId" onChange="changeBuild()">
                    		<option class="form-option" th:each="costs: ${costs}" th:value="${costs?.costId}"
                    			th:selected="${cost?.costId} == ${costs?.costId}">[[${#strings.substring(costs?.date, 0, 4)}]]년 [[${#strings.substring(costs?.date, 5, 7)}]]월</option>
                    	</select>
                    </form>
                </div>
                <div class="row g-3 justify-content-center align-items-center mb-4">
                   	<table th:with="roomSize = ${build?.area} / (${build?.floor} * ${build?.room}),
									avgCost = (${roomSize} * 30)"
									class="table table-bordered text-center" style="width: 600px;">
                   		<thead>
                    		<tr>
                    			<th scope="col">구분</th>
                    			<th scope="col">전월 관리비</th>
                    			<th scope="col">당월 관리비</th>
                    			<th scope="col">증감액</th>
                   			</tr>
                   		</thead>
                   		<tbody th:if="${not #strings.isEmpty(prevCost)}" th:with="
                   			electricity = ${#numbers.formatDecimal((cost?.electricity / avgCost / 30) * roomSize * 30, 1, 0)},
                   			prevElectricity = ${#numbers.formatDecimal((prevCost?.electricity / avgCost / 30) * roomSize * 30, 1, 0)},
                   			sumElectricity = ${electricity} - ${prevElectricity},
                   			
                   			repair = ${#numbers.formatDecimal((cost?.repair / avgCost / 30) * roomSize * 30, 1, 0)},
                   			prevRepair = ${#numbers.formatDecimal((prevCost?.repair / avgCost / 30) * roomSize * 30, 1, 0)},
                   			sumRepair = ${repair} - ${prevRepair},
                   			
                			upkeep = ${#numbers.formatDecimal((cost?.upkeep / avgCost / 30) * roomSize * 30, 1, 0)},
                   			prevUpkeep = ${#numbers.formatDecimal((prevCost?.upkeep / avgCost / 30) * roomSize * 30, 1, 0)},
                   			sumUpkeep = ${upkeep} - ${prevUpkeep},
                   			
                   			consignment = ${#numbers.formatDecimal((cost?.consignment / avgCost / 30) * roomSize * 30, 1, 0)},
                   			prevConsignment = ${#numbers.formatDecimal((prevCost?.consignment / avgCost / 30) * roomSize * 30, 1, 0)},
                   			sumConsignment = ${consignment} - ${prevConsignment}">	
                  			<tr>
                    			<th scope="row">전기료</th>
                    			<td>[[${prevElectricity}]]</td>
                    			<td>[[${electricity}]]</td>
                    			<td class="sumCost">[[${sumElectricity}]]</td>
                   			</tr>
                   			<tr>
                    			<th scope="row">유지관리비</th>
                    			<td>[[${prevRepair}]]</td>
                    			<td>[[${repair}]]</td>
                    			<td class="sumCost">[[${sumRepair}]]</td>
                   			</tr>
                   			<tr>
                    			<th scope="row">수선비</th>
                    			<td>[[${prevUpkeep}]]</td>
                    			<td>[[${upkeep}]]</td>
                    			<td class="sumCost">[[${sumUpkeep}]]</td>
                   			</tr>
                   			<tr>
                    			<th scope="row">전문위탁비</th>
                    			<td>[[${prevConsignment}]]</td>
                    			<td>[[${consignment}]]</td>
                    			<td class="sumCost">[[${sumConsignment}]]</td>
                   			</tr>
                   		</tbody>
                   			
               			<tbody th:unless="${not #strings.isEmpty(prevCost)}" th:with="
                   			electricity = ${#numbers.formatDecimal((cost?.electricity / avgCost / 30) * roomSize * 30, 1, 0)},
                   			prevElectricity = '-',
                   			sumElectricity = '-',
                   			
                   			repair = ${#numbers.formatDecimal((cost?.repair / avgCost / 30) * roomSize * 30, 1, 0)},
                   			prevRepair = '-',
                   			sumRepair = '-',
                   			
                			upkeep = ${#numbers.formatDecimal((cost?.upkeep / avgCost / 30) * roomSize * 30, 1, 0)},
                   			prevUpkeep = '-',
                   			sumUpkeep = '-',
                   			
                   			consignment = ${#numbers.formatDecimal((cost?.consignment / avgCost / 30) * roomSize * 30, 1, 0)},
                   			prevConsignment = '-',
                   			sumConsignment = '-'">
                   			<tr>
                    			<th scope="row">전기료</th>
                    			<td>[[${prevElectricity}]]</td>
                    			<td>[[${electricity}]]</td>
                    			<td class="sumCost">[[${sumElectricity}]]</td>
                   			</tr>
                   			<tr>
                    			<th scope="row">유지관리비</th>
                    			<td>[[${prevRepair}]]</td>
                    			<td>[[${repair}]]</td>
                    			<td class="sumCost">[[${sumRepair}]]</td>
                   			</tr>
                   			<tr>
                    			<th scope="row">수선비</th>
                    			<td>[[${prevUpkeep}]]</td>
                    			<td>[[${upkeep}]]</td>
                    			<td class="sumCost">[[${sumUpkeep}]]</td>
                   			</tr>
                   			<tr>
                    			<th scope="row">전문위탁비</th>
                    			<td>[[${prevConsignment}]]</td>
                    			<td>[[${consignment}]]</td>
                    			<td class="sumCost">[[${sumConsignment}]]</td>
                   			</tr>
                   		</tbody>
                   	</table>
				</div>
			</div>
		</div>
	<div th:replace="~{common/fragments :: userFooter}"></div>
	<script>
	function changeBuild() {
		let formId = document.getElementById('infoForm');
		
		formId.submit();
	}
	</script>
	<script src="/js/Cost.js" type="text/javascript"></script>
</body>
</html>