<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>SMARTBUTLER</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" as="style" crossorigin
        href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
    <link rel="manifest" href="/img/site.webmanifest">
</head>

<body>
    <div id="wrap">
        <div th:replace="~{common/fragments :: adminHeader}"></div>
        <div th:replace="~{common/fragments :: adminSidebar}"></div>
        <div class="container">
            <div class="row">
            	<h3>환영합니다.</h3>
                <h2>[[${#calendars.format(#calendars.createNow(), 'yyyy년 MM월 dd일')}]] [[${#calendars.dayOfWeekName(#calendars.createNow())}]]</h2>
            </div>
            <div class="row border my-2"></div>
            <div class="row ">
	            <div class="col-auto box mx-3 p-3">
	                <div class="row">
	                    <div class="col-auto">
	                        <h3><a href="/admin/estimates" class="btn btn-primary btn-lg">미처리 견적: [[${estimateCnt}]]건</a></h3>
	                    </div>
	                </div>
	                <div class="row">
						<table class="table">
							<thead>
								<tr>
									<th scope="col">건물명</th>
									<th scope="col">날짜</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="estimates, index: ${estimates}" th:if="${index.index} < 10">
									<td><a th:href="@{/admin/estimates/{estimateId}(estimateId = ${estimates?.estimateId})}">[[${estimates?.buildName}]]</a></td>
									<td><a th:href="@{/admin/estimates/{estimateId}(estimateId = ${estimates?.estimateId})}">[[${estimates?.regDate}]]</a></td>
								</tr>
							</tbody>
						</table>	                
	                </div>
	            </div>
	
	            <div class="col-auto box mx-3 p-3">
	                <div class="row">
	                    <div class="col-auto">
	                        <h3><a href="/admin/buildings/1/claims" class="btn btn-primary btn-lg">미처리 민원: [[${claimCnt}]]건</a></h3>
	                    </div>
	                </div>
	                <div class="row text-truncate">
						<table class="table">
							<thead>
								<tr>
									<th scope="col">건물명</th>
									<th scope="col">날짜</th>
									<th scope="col">제목</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="claims, index: ${claims}" th:if="${index.index} < 10">
									<td><a th:href="@{/admin/buildings/{buildId}/claims/{claimId}(buildId = ${claims?.buildId}, claimId = ${claims?.claimId})}">[[${claims?.buildName}]]</a></td>
									<td><a th:href="@{/admin/buildings/{buildId}/claims/{claimId}(buildId = ${claims?.buildId}, claimId = ${claims?.claimId})}">[[${claims?.askDate}]]</a></td>
									<td><a th:href="@{/admin/buildings/{buildId}/claims/{claimId}(buildId = ${claims?.buildId}, claimId = ${claims?.claimId})}">[[${claims?.title}]]</a></td>
								</tr>
							</tbody>
						</table>		                
	                </div>
	            </div>
	            <div class="col-auto box mx-3 p-3">
	                <div class="row">
	                    <div class="col-auto">
	                        <h3><a href="/admin/buildings/1/costs" class="btn btn-primary btn-lg">당월 관리비</a></h3>
	                    </div>
	                </div>
	                <div class="row">
						<table class="table">
							<thead>
								<tr>
									<th scope="col">건물명</th>
									<th scope="col">날짜</th>
									<th scope="col">배분 여부</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="costs, index: ${costs}" th:if="${index.index} < 10">
									<td><a th:href="@{/admin/buildings/{buildId}/costs/{costId}(buildId = ${costs?.buildId}, costId = ${costs?.costId})}">[[${costs?.buildName}]]</a></td>
									<td><a th:href="@{/admin/buildings/{buildId}/costs/{costId}(buildId = ${costs?.buildId}, costId = ${costs?.costId})}">[[${costs?.date}]]</a></td>
									<td><a th:href="@{/admin/buildings/{buildId}/costs/{costId}(buildId = ${costs?.buildId}, costId = ${costs?.costId})}"><th:block th:text="${costs?.send == 1} ? '배분 전' : '배분 완료'"></a></td>
								</tr>
							</tbody>
						</table>	                
	                </div>
	            </div>
            </div>
        </div>
    </div>
</body>

</html>