<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>SMARTBUTLER</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css" />
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/common.css">
	<link rel="stylesheet" href="/css/user.css">
	<link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
	<link rel="manifest" href="/img/site.webmanifest">
</head>
<body>
	<div th:replace="~{common/fragments :: userHeader}"></div>
   	<div class="container" style="float: none;">
   		<div class="content form-content mt-5">
		<h1 class="text-center mt-5">견적 신청</h1>
		<div class="row g-3 justify-content-center align-items-center mb-4 mt-3">
			<div class="col-7 mt-3 border-top border-5 border-black"></div>
		</div>
			<form action="" id="infoForm">
				<div class="row g-3 justify-content-center align-items-center mb-4 mt-2">
					<div class="col-2">
						<label for="buildName" class="ms-4 fw-bold">건물명</label>
					</div>
					
					<div class="col-4">
                    	<select class="form-select" id="buildId" name="buildId" onChange="changeBuild()">
                    		<option class="form-option" th:each="builds: ${builds}" th:value="${builds?.buildId}"
                    			th:selected="${build?.buildId} == ${builds?.buildId}">[[${builds?.buildName}]]</option>
                    	</select>
						<!-- <input type="text" name="buildName"  class="form-control"> -->
					</div>
				</div>
			</form>
			<form action="/user/estimate/success" method="post">
				<div class="row g-3 justify-content-center align-items-center mb-4">
					<div class="col-2">
						<label for="period" class="ms-4 fw-bold">예상 계약기간</label>
					</div>
					<div class="col-4">
						<input type="text" name="period" class="form-control">
					</div>
				</div>
				<div class="row g-3 justify-content-center align-items-center mb-4">
					<div class="col-2">
						<label for="toDate" class="ms-4 fw-bold">예상 입주 날짜</label>
					</div>
					<div class="col-4">
						<input type="date" name="toDate" class="form-control">
					</div>
				</div>
				<div class="row g-3 justify-content-center align-items-center mb-4">
					<div class="col-2">
						<label for="deposit" class="ms-4 fw-bold">보증금</label>
					</div>
					<div class="col-4">
						<input type="text" name="deposit" class="form-control">
					</div>
				</div>
				<div class="row justify-content-center mt-5">
					<input type="submit" value="신청" class="btn btn-primary col-1 me-3">
					<input type="button" value="뒤로가기" class="btn btn-secondary col-1 me-3" onClick="history.back()">
					<input type="hidden" name="confirm" value="1">
					<input type="hidden" name="BuildId" th:value="${build?.buildId}">
					<input type="hidden" name="userId" value="2">
				</div>
			</form>
		</div>
	</div>
	<div th:replace="~{common/fragments :: userFooter}"></div>
	<script type="text/javascript">
	function changeBuild() {
		let buildId = document.getElementById('buildId');
		let formId = document.getElementById('infoForm');
		
		formId.submit();
	}
	</script>
</body>
</html>