<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>회원가입</title>
</head>
<body>
	<h1>회원가입</h1>
	<hr>
		<div>
			<div>
			<form action="">
				<div>
					<label for="email">이메일</label>
					<input type="email">
				</div>
				<div>
					<label for="password">비밀번호</label>
					<input type="text">
				</div>
				<div>
					<label for="password-check">비밀번호 확인</label>
					<input type="text">
				</div>
				<div>
					<label for="name">이름</label>
					<input type="text">
				</div>
				<div>
					<label for="phone">휴대폰 번호</label>
					<input type="tel">
				</div>
				<div>
					<input type="submit" value="회원가입">
				</div>
			</form>
			</div>
		</div>
</body>
</html>