<!DOCTYPE html>
<html lang="ko">

<head>
  <title>login</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <h1>사용자</h1>
  <h2>로그인</h2>
  <form action="">
    <div><label for="id">이메일</label><input type="text" id="id" name="id"></div>
    <div><label for="password">비밀번호</label><input type="password" id="password" name="password"></div>
    <div><input type="submit" value="로그인"></div>
    <span>또는</span>
    <div><input type="button" value="회원가입" onclick=""></div>
  </form>
</body>

</html>