<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>마이페이지</title>
</head>
<body>
	<h1>내 정보</h1>
	<hr>
		<div>
			<div>
			<form action="">
				<div>
					<label for="email">이메일</label>
					<input type="email">
				</div>
				<div>
					<label for="password">비밀번호</label>
					<input type="text">
				</div>
				<div>
					<label for="password-check">비밀번호 확인</label>
					<input type="text">
				</div>
				<div>
					<label for="name">이름</label>
					<input type="text">
				</div>
				<div>
					<label for="phone">휴대폰 번호</label>
					<input type="tel">
				</div>
				<hr>
				
				<div>
					<label>건물명</label>
					<input type="text">
				</div>
				<div>
					<label>세대 번호</label>
					<input type="text">
				</div>
				<div>
					<label>계약기간</label>
					<input type="text">
				</div>
				<div>
					<label>월 사용료</label>
					<input type="text">
				</div>
				<div>
					<label>보증금</label>
					<input type="text">
				</div>
				<div>
					<input type="button" value="수정">
					<input type="button" value="뒤로가기">
				</div>
			</form>
			</div>
		</div>

</body>
</html>