<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>SMARTBUTLER</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css" />
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/common.css">
<link rel="stylesheet" href="/css/user.css">
<link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
<link rel="manifest" href="/img/site.webmanifest">
</head>
<body>
	<div th:replace="~{common/common :: userHeader}"></div>
	<div class="container" style="float: none;">
		<div class="content form-content">
			<h1 class="text-center mt-4">민원 목록</h1>
			<div class="row g-3 justify-content-center align-items-center mb-4 mt-3">
				<div class="col-7 mt-3 border-top border-5 border-black"></div>
			</div>
			<div class="row justify-content-center align-items-center">
				<div class="col-7">
					<table class="table">
						<thead>
							<tr>
								<th scope="col" class="col-md-6">제목</th>
								<th scope="col">요청날짜</th>
								<th scope="col">상태</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><a href="/user/claim/list/1">문 안 닫힘</a></td>
								<td>2024-01-15</td>
								<td>신청</td>
							</tr>
						</tbody>
					</table>
					<div class="row justify-content-end my-3">
						<input type="button" value="신청하기" class="btn btn-primary col-2 me-3" onClick="location.href='/user/claim/add'">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="~{common/common :: userFooter}"></div>
</body>
</html>