<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>SMARTBUTLER</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css" />
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/common.css">
<link rel="stylesheet" href="/css/admin.css">
<link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32"	href="/img/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16"	href="/img/favicon-16x16.png">
<link rel="manifest" href="/img/site.webmanifest">
</head>
<body>
	<div id="wrap">
		<div th:replace="~{common/fragments :: adminHeader}"></div>
		<div th:replace="~{common/fragments :: adminSidebar}"></div>
		<div class="container">
			<div class="bread-crum">
				<ul class="">
					<li><a href="/">HOME</a><span> ></span></li>
					<li><a href="#">임대관리</a><span> ></span></li>
					<li><a href="#">입주현황</a></li>
				</ul>
			</div>
			<div class="content">
                <form id="infoForm" action="/admin/buildings/{buildId}/residents/total" method="get">
					<div class="row g-3 justify-content-center align-items-center mb-4">
	                    <div class="col-1 mb-3">
	                    	<label for="buildId" class="fs-5 fw-bold">건물명</label>
	                    </div>			
	                    <div class="col-3 mb-3">
	                        <select class="form-select" id="buildId" name="buildId" onChange="changeBuild()">
	                            <option class="form-option" th:each="builds: ${builds}" th:value="${builds?.buildId}"
	                                th:selected="${buildId} == ${builds?.buildId}">[[${builds?.buildName}]]</option>
	                        </select>
	                    </div>
	                </div>
                </form>
				<div class="d-flex justify-content-end mb-3">
					<a class="col-2 btn btn-primary" type="button" th:href="@{/admin/buildings/{buildId}/residents/add(buildId = ${buildId})}">신규등록</a>
				</div>
				<table class="table table-hover">
					<thead>
						<tr>
							<th scope="col">건물명</th>
							<th scope="col">입주 호실</th>
							<th scope="col">고객명</th>
							<th scope="col">휴대폰번호</th>
							<th scope="col">계약시작일</th>
							<th scope="col">계약종료일</th>
							<th scope="col">보증금</th>
							<th scope="col">월세</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each ="residents: ${residents}">
							<td><a th:href="@{/admin/buildings/{buildId}/residents/{residentId}(buildId = ${buildId}, residentId = ${residents?.residentId})}">[[${residents?.buildName}]]</a></td>
							<td><a th:href="@{/admin/buildings/{buildId}/residents/{residentId}(buildId = ${buildId}, residentId = ${residents?.residentId})}">[[${residents?.residentNum}]]</a></td>
							<td><a th:href="@{/admin/buildings/{buildId}/residents/{residentId}(buildId = ${buildId}, residentId = ${residents?.residentId})}">[[${residents?.users?.userName}]]</a></td>
							<td><a th:href="@{/admin/buildings/{buildId}/residents/{residentId}(buildId = ${buildId}, residentId = ${residents?.residentId})}">[[${residents?.users?.phone}]]</a></td>
							<td><a th:href="@{/admin/buildings/{buildId}/residents/{residentId}(buildId = ${buildId}, residentId = ${residents?.residentId})}">[[${residents?.fromDate}]]</a></td>
							<td><a th:href="@{/admin/buildings/{buildId}/residents/{residentId}(buildId = ${buildId}, residentId = ${residents?.residentId})}">[[${residents?.toDate}]]</a></td>
							<td><a th:href="@{/admin/buildings/{buildId}/residents/{residentId}(buildId = ${buildId}, residentId = ${residents?.residentId})}">[[${residents?.deposit}]]</a></td>
							<td><a th:href="@{/admin/buildings/{buildId}/residents/{residentId}(buildId = ${buildId}, residentId = ${residents?.residentId})}">[[${residents?.monthly}]]</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	    <script>
        function changeBuild() {
            let buildId = document.getElementById('buildId');
            let form = document.getElementById('infoForm');

            form.action = '/admin/buildings/' + buildId.value + '/residents';

            form.submit();
        }
    </script>
</body>
</html>