<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>SMARTBUTLER</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css" />
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/common.css">
<link rel="stylesheet" href="/css/admin.css">
<link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32"	href="/img/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16"	href="/img/favicon-16x16.png">
<link rel="manifest" href="/img/site.webmanifest">
</head>
<body>
	<div id="wrap">
		<div th:replace="~{common/fragments :: adminHeader}"></div>
		<div th:replace="~{common/fragments :: adminSidebar}"></div>
		<div class="container">
			<div class="bread-crum">
				<ul class="">
					<li><a href="/">HOME</a><span> ></span></li>
					<li><a href="#">임대관리</a><span> ></span></li>
					<li><a href="#">입주 등록</a></li>
				</ul>
			</div>
			<div class="content">
				<form id="addForm" th:action="@{/admin/buildings/{buildId}/residents/add(buildId = ${buildId})}" method="post">
                    <div class="row">
                        <div class="col-1 mb-3"><label for="userName" class="col-form-label ms-3">고객명</label></div>
                        <div class="col-4 mb-3"><input type="text" name="userName" class="form-control" th:value="${resident?.userName}" ></div>
                        
                        <div class="col-1 mb-3"><label for="fromDate" class="form-label">계약시작일</label></div>
                        <div class="col-4 mb-3"><input type="text" name="fromDate" class="form-control" th:value="${resident?.fromDate}" ></div>
                    </div>
					<div class="row">
                        <div class="col-1 mb-3"><label for="buildName" class="col-form-label ms-3">건물명</label></div>
                        <div class="col-4 mb-3"><input type="date" name="buildName" class="form-control" th:value="${resident?.buildName}" ></div>
                        
                        <div class="col-1 mb-3"><label for="toDate" class="form-label">계약 종료일</label></div>
                        <div class="col-4 mb-3"><input type="date" name="toDate" class="form-control" th:value="${resident?.toDate}" ></div>
                    </div>
					<div class="row">
                        <div class="col-1 mb-3"><label for="phone" class="col-form-label ms-3">휴대폰 번호</label></div>
                        <div class="col-4 mb-3"><input type="text" name="phone" class="form-control" th:value="${resident?.phone}" ></div>
                        
                        <div class="col-1 mb-3"><label for="deposit" class="form-label">보증금</label></div>
                        <div class="col-4 mb-3"><input type="text" name="deposit" class="form-control" th:value="${resident?.deposit}" ></div>
                    </div>
					<div class="row">
                        <div class="col-1 mb-3"><label for="residentNum" class="col-form-label ms-3">입주 호실</label></div>
                        <div class="col-4 mb-3"><input type="text" name="residentNum" class="form-control" th:value="${resident?.residentNum}" ></div>
                        
                        <div class="col-1 mb-3"><label for="monthly" class="form-label">월세</label></div>
                        <div class="col-4 mb-3"><input type="text" name="monthly" class="form-control" th:value="${resident?.monthly}" ></div>
                        <input type="hidden" name="userId" th:value="${resident?.userId}">
                        <input type="hidden" name="buildId" th:value="${buildId}">
                        <input type="hidden" name="entered" th:value="1">
                    </div>
                    <div class="text-end pt-3 row">
	                   <div class="col-auto"><input type="submit" class="btn btn-lg btn-primary" value="저장"></div>
	                   <div class="col-auto"><a onClick="history.back()" class="btn btn-lg btn-outline-dark">목록</a></div>
                   </div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>