<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SMARTBUTLER</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
    <link rel="manifest" href="/img/site.webmanifest">
    <style>
    	.room:first-of-type {
    		visibility: hidden;
    	}
    </style>
</head>
<body>
    <div id="wrap">
		<div th:replace="~{common/fragments :: adminHeader}"></div>
		<div th:replace="~{common/fragments :: adminSidebar}"></div>
		<div class="container">
			<div class="bread-crum">
				<ul class="">
                    <li><a href="#">HOME</a><span> ></span></li>
                    <li><a href="#">임대관리</a><span> ></span></li>
                    <li><a href="#">입주현황</a></li>
                </ul>
            </div>
            <div class="content form-content">
                <form id="infoForm" action="/admin/buildings/{buildId}/residents/total" method="get">
                    <div class="col-5 mb-3">
                        <select class="form-select" id="buildId" name="buildId" onChange="changeBuild()">
                            <option class="form-option" th:each="builds: ${builds}" th:value="${builds?.buildId}"
                                th:selected="${build?.buildId} == ${builds?.buildId}">[[${builds?.buildName}]]</option>
                        </select>
                    </div>
                </form>
                <div class="row">
<!-- 	                <div class="row mx-3 mt-3 px-2" style="display: inline-block">
                		<div th:each="room: ${#numbers.sequence(0, build?.room)}" class="room m-2 text-center" style="width: 100px; height: 20px; display: inline-block;"><h2>[[${room}]]</h2></div>
	               	</div> -->
					<div th:each="floor: ${#numbers.sequence(1, build?.floor)}" class="row m-3 p-2" style="display: inline-block">
						<div class="col-auto">
							<div class="floor m-2 text-center" style="width: 100px; height: 80px; display: inline-block;"><h2>[[${floor}]] 층</h2></div>
							<div th:each="room: ${#numbers.sequence(1, build?.room)}" class="m-2 border border-dark-subtle text-center" style="width: 100px; height: 80px; display: inline-block;">
								<span style="font-size:18px; font-weight: 600;">[[${(floor*100) + room}]]호</span><br>
								<span style="font-size:14px; font-weight: 400;">공실</span>
							</div>
						</div>
					</div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function changeBuild() {
            let buildId = document.getElementById('buildId');
            let form = document.getElementById('infoForm');

            form.action = '/admin/buildings/' + buildId.value + '/residents/total';

            form.submit();
        }
    </script>
</body>
</html>