@charset "UTF-8";

#wrapIndex {
    width: 100%;
    position: relative;
}

#wrapIndex .container {
    width: 1140px;
    float: none;
    margin: 200px auto 0;
}

#wrapIndex .box {
    width: 250px;
    height: 300px;
    margin: 15px;
    border-radius: 30px;
}