<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SMARTBUTLER</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
    <link rel="manifest" href="/img/site.webmanifest">
</head>
<body>
    <div id="wrap">
        <header class="d-flex align-items-center">
            <div class="logo"><img alt="로고" src="/img/logo.png" class="align-middle" width="64"></div>
            <div><h1><a href="/" class="logo-text">SMARTBUTLER</a></h1></div>
        </header>
        <div id="navi" class="">
            <ul>
                <li><a href="#">건물정보</a></li>
                <li><a href="#">시설관리</a></li>
                <li><a href="#">임대관리</a></li>
                <li><a href="#">견적관리</a></li>
                <li><a href="#">계약업체</a></li>
                <li><a href="#">커뮤니티</a></li>
                <li><a href="#">회원정보</a></li>
            </ul>
        </div>
        <div class="container">
            <div class="bread-crum">
                <ul class="">
                    <li><a href="#">HOME</a><span> ></span></li>
                    <li><a href="#">임대관리</a><span> ></span></li>
                    <li><a href="#">관리비목록</a></li>
                </ul>
            </div>
            <div class="content">
            	 <div class="text-end pb-3">
                    <a class="btn btn-lg btn-primary" th:href="@{/admin/buildings/{buildId}/costs/add(buildId = ${buildId})}">등록</a>
                </div>
                <table class="table text-center">
                    <thead>
                        <tr>
                            <th scope="col">건물명</th>
                            <th scope="col">해당월</th>
                            <th scope="col">합계금액</th>
                            <th scope="col">전기료</th>
                            <th scope="col">수선비</th>
                            <th scope="col">유지관리비</th>
                            <th scope="col">전문위탁비</th>
                            <th scope="col">배분 여부</th>
                        </tr>
                    </thead>
                    <tbody>
                    
                        <tr th:each="costs: ${costs}">
                            <td><a th:href="@{/admin/buildings/{buildId}/costs/{costId}(buildId = ${costs.buildId}, costId = ${costs?.costId})}">[[${costs?.buildName}]]</a></td>
                            <td><a th:href="@{/admin/buildings/{buildId}/costs/{costId}(buildId = ${costs.buildId}, costId = ${costs?.costId})}">
                            	[[${#strings.substring(costs?.date, 0, 7)}]]
                           	</a></td>
                            <th:block th:with="total = ${costs?.electricity} + ${costs?.repair} + ${costs?.upkeep} + ${costs?.consignment}">
                            <td><a th:href="@{/admin/buildings/{buildId}/costs/{costId}(buildId = ${costs.buildId}, costId = ${costs?.costId})}">[[${total}]]</a></td>
                            </th:block>
                           	<td><a th:href="@{/admin/buildings/{buildId}/costs/{costId}(buildId = ${costs.buildId}, costId = ${costs?.costId})}">[[${costs?.electricity}]]</a></td>
                           	<td><a th:href="@{/admin/buildings/{buildId}/costs/{costId}(buildId = ${costs.buildId}, costId = ${costs?.costId})}">[[${costs?.repair}]]</a></td>
                           	<td><a th:href="@{/admin/buildings/{buildId}/costs/{costId}(buildId = ${costs.buildId}, costId = ${costs?.costId})}">[[${costs?.upkeep}]]</a></td>
                           	<td><a th:href="@{/admin/buildings/{buildId}/costs/{costId}(buildId = ${costs.buildId}, costId = ${costs?.costId})}">[[${costs?.consignment}]]</a></td>
                            <td th:if="${costs?.send == 1}">배분 전</td>
                            <td th:unless="${costs?.send == 1}"><a href="#">배분 내역</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>