<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>SMARTBUTLER</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css" />
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/common.css">
<link rel="stylesheet" href="/css/admin.css">
<link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32"	href="/img/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16"	href="/img/favicon-16x16.png">
<link rel="manifest" href="/img/site.webmanifest">
</head>
<body>
	<div id="wrap">
		<div th:replace="~{common/fragments :: adminHeader}"></div>
		<div th:replace="~{common/fragments :: workerSidebar}"></div>
		<div class="form-signin w-25 mx-auto" style="margin-top: 25vh;">
			<form action="/worker/login" method="post">
				<div class="form-floating">
					<input type="text" class="form-control mb-3" id="company-name" name="company-name" placeholder="">
					<label for="text">업체고유번호</label>
				</div>
				<div class="form-floating">
					<input type="password" class="form-control mb-3" id="password" name="password"
						placeholder=""> <label for="password">비밀번호</label>
				</div>
				<button class="btn btn-primary w-100 p-3" type="submit">로그인</button>
			</form>
		</div>
	</div>
</body>
</html>