<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
    <title>SMARTBUTLER</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
    <link rel="manifest" href="/img/site.webmanifest">
</head>
<body>
	<div id="wrap">
		<div th:replace="~{common/common :: adminHeader}"></div>
		<div th:replace="~{common/common :: adminSidebar}"></div>
		<div class="container">
			<div class="bread-crum">
				<ul class="">
					<li><a href="#">HOME</a><span> ></span></li>
					<li><a href="#">민원처리</a><span> ></span></li>
					<li><a href="#">민원상세</a></li>
				</ul>
			</div>
			<div class="content form-content">
				<form action="/admin/buildings/1/claims/1" method="post">
					<div class="row g-3 align-items-center mb-2">
						<div class="col-1"><label class="col-form-label fw-bold">민원번호</label></div>
						<div class="col-5"><input type="text" value="10010" class="form-control" readonly></div>
						<div class="col-1"><label class="col-form-label fw-bold">요청날짜</label></div>
						<div class="col-5"><input type="text" value="2024-01-15" class="form-control" readonly></div>
					</div>
					<div class="row g-3 align-items-center mb-2">
						<div class="col-1"><label class="col-form-label fw-bold">건물명</label></div>
						<div class="col-5"><input type="text" value="강남1호점" class="form-control" readonly></div>
						<div class="col-1"><label class="col-form-label fw-bold">종류</label></div>
						<div class="col-5"><input type="text" value="엘리베이터" class="form-control" readonly></div>
					</div>
					<div class="row g-3 align-items-center mb-2">
						<div class="col-1"><label class="col-form-label fw-bold">세대번호</label></div>
						<div class="col-5"><input type="text" value="702" class="form-control" readonly></div>
						<div class="col-1"><label class="col-form-label fw-bold">이미지</label></div>
						<div class="col-5"><input type="text" value="elevatorDoor.jpg" class="form-control" readonly></div>
					</div>
					<div class="row g-3 align-items-center mb-2">
						<div class="col-1"><label class="col-form-label fw-bold">처리상태</label></div>
						<div class="col-5"><input type="text" value="완료" class="form-control" readonly></div>
						<div class="col-1"><label class="col-form-label fw-bold">완료날짜</label></div>
						<div class="col-5"><input type="text" value="2024-01-15" class="form-control" readonly></div>
					</div>
					<div class="row row-cols-1 g-3 align-items-center mb-2">
						<div class="col"><label class="col-form-label fw-bold">제목</label></div>
						<div class="col m-0"><input type="text" value="문 안 닫힘" class="form-control" readonly></div>
					</div>
					<div class="row row-cols-1 g-3 align-items-center mb-2">
						<div class="col"><label class="col-form-label fw-bold">요청내용</label></div>
						<div class="col m-0"><textarea rows="3" class="form-control" readonly>정원 초과 시 경고음이 나와야 하나 나오지 않고 문이 닫히지 않음.</textarea></div>
					</div>
					<div class="row justify-content-end mt-4">
						<input type="submit" value="완료" class="btn btn-lg btn-primary col-1 me-3">
						<button type="button" class="btn btn-lg btn-outline-dark col-1 me-3" onClick="history.back()">목록</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>