<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SMARTBUTLER</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
    <link rel="manifest" href="/img/site.webmanifest">
</head>
<body>
	<div id="wrap">
	<div th:replace="~{common/fragments :: adminHeader}"></div>
	<div th:replace="~{common/fragments :: adminSidebar}"></div>
		<div class="container">
			<div class="bread-crum">
				<ul class="">
					<li><a href="#">HOME</a><span> ></span></li>
					<li><a href="#">민원관리</a><span> ></span></li>
					<li><a href="#">민원목록</a></li>
				</ul>
			</div>
			<div class="content">
				<div th:replace="~{common/fragments :: buildSearch}"></div>
				<table class="table">
					<thead>
						<tr>
							<th scope="col">민원번호</th>
							<th scope="col" class="col-md-4">제목</th>
							<th scope="col">요청날짜</th>
							<th scope="col">건물명</th>
							<th scope="col">민원종류</th>
							<th scope="col">완료날짜</th>
							<th scope="col">처리상태</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="claim: ${list}">
							<td>[[${claim.claimId}]]</td>
							<td><a th:href="@{/admin/buildings/{buildId}/claims/{claimId}(buildId = ${buildId}, claimId = ${claim.claimId})}">[[${claim.title}]]</a></td>
							<td>[[${claim.askDate}]]</td>
							<td>[[${claim.buildName}]]</td>
							<td>[[${claim.claimKind}]]</td>
							<td>[[${claim.finDate}]]</td>
							<td th:text="${claim.status == 1} ? '신청' : '완료'"></td>
						</tr>
					</tbody>
				</table>
				<div class="mt-4" th:if="${!list.isEmpty()}">
					<nav>
      					<ul class="pagination justify-content-center">
            				<li th:class="${list.first} ? 'disabled'" class="page-item">
                				<a th:href="@{/admin/buildings/{buildId}/claims(buildId = ${buildId}, page = ${list.number - 1})}" class="page-link">&laquo;</a>
            				</li>
            				<li th:each="page : ${#numbers.sequence(1, list.totalPages)}" th:if="${page >= list.number - 1 and page <= list.number + 3}" class="page-item" th:class="${page == list.number + 1} ? 'active'" >
 								<a th:href="@{/admin/buildings/{buildId}/claims(buildId = ${buildId}, page = ${page - 1})}" th:text="${page}" class="page-link"></a>
 							</li>
            				<li th:class="${list.last} ? 'disabled'" class="page-item" >
                				<a th:href="@{/admin/buildings/{buildId}/claims(buildId = ${buildId}, page = ${list.number + 1})}" class="page-link">&raquo;</a>
            				</li>
        				</ul>
    				</nav>
				</div>
			</div>
		</div>
	</div>
	<script>
        function changeBuild() {
            let buildId = document.getElementById('buildId');
            let form = document.getElementById('infoForm');

            form.action = '/admin/buildings/' + buildId.value + '/claims';

            form.submit();
        }
    </script>
</body>
</html>