<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>SMARTBUTLER</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css" />
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/common.css">
<link rel="stylesheet" href="/css/admin.css">
<link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
<link rel="manifest" href="/img/site.webmanifest">
</head>
<body>
	<div id="wrap">
		<div th:replace="~{common/fragments :: adminHeader}"></div>
		<div th:replace="~{common/fragments :: adminSidebar}"></div>
		<div class="container">
			<div class="bread-crum">
				<ul class="">
					<li><a href="/">HOME</a><span> ></span></li>
					<li><a href="#">계약업체</a><span> ></span></li>
					<li><a href="#">업체정보</a></li>
				</ul>
			</div>
			<div class="content">
				<div class="container fw-semibold">
				<form th:action="@{/admin/buildings/{buildId}/companies/{companyId}(buildId=${company.buildId} ,companyId=${company.companyId})}" th:method="delete">
					<div class="row align-items-center mb-4">
						<div class="col-5">
							<div class="row g-3 align-items-center">
								<div class="col-4">
									<label for="company-id" class="col-form-label ms-3">업체번호</label>
								</div>
								<div class="col-8">
									<input class="form-control" type="text" th:value="${company.companyId}" id="companyId" name="companyId" readonly disabled>
								</div>
							</div>
						</div>
						<div class="col-5">
							<div class="row g-3 align-items-center">
								<div class="col-4">
									<label for="password" class="col-form-label ms-3">비밀번호</label>
								</div>
								<div class="col-8">
									<input class="form-control" type="password" th:value="${company.password}" id="password" name="password" readonly disabled>
								</div>
							</div>
						</div>
						<div class="col-2">
							<div class="row g-3 align-items-center me-5">
								<button type="button" class="col btn btn-outline-info">보기</button>
							</div>
						</div>
					</div>

					<div class="row align-items-center mb-4">
						<div class="col-5">
							<div class="row g-3 align-items-center">
								<div class="col-4">
									<label for="company-name" class="col-form-label ms-3">업체명</label>
								</div>
								<div class="col-8">
									<input class="form-control" type="text" th:value="${company.companyName}" readonly disabled>
								</div>
							</div>
						</div>
						<div class="col-5">
							<div class="row g-3 align-items-center">
								<div class="col-4">
									<label for="from-date" class="col-form-label ms-3">계약시작일</label>
								</div>
								<div class="col-8">
									<input class="form-control" type="text" th:value="${company.fromDate}" id="fromDate" name="fromDate" readonly disabled>
								</div>
							</div>
						</div>
					</div>

					<div class="row align-items-center mb-4">
						<div class="col-5">
							<div class="row g-3 align-items-center">
								<div class="col-4">
									<label for="manager" class="col-form-label ms-3">담당자명</label>
								</div>
								<div class="col-8">
									<input class="form-control" type="text" th:value="${company.manager}" id="manager" name="manager" readonly disabled>
								</div>
							</div>
						</div>
						<div class="col-5">
							<div class="row g-3 align-items-center">
								<div class="col-4">
									<label for="to-date" class="col-form-label ms-3">계약종료일</label>
								</div>
								<div class="col-8">
									<input class="form-control" type="text" th:value="${company.toDate}" id="toDate" name="toDate" readonly disabled>
								</div>
							</div>
						</div>
					</div>

					<div class="row align-items-center mb-4">
						<div class="col-5">
							<div class="row g-3 align-items-center">
								<div class="col-4">
									<label for="phone" class="col-form-label ms-3">전화번호</label>
								</div>
								<div class="col-8">
									<input class="form-control" type="text" th:value="${company.phone}" id="phone" name="phone" readonly disabled>
								</div>
							</div>
						</div>
						<div class="col-5">
							<div class="row g-3 align-items-center">
								<div class="col-4">
									<label for="kind-name" class="col-form-label ms-3">담당업무</label>
								</div>
								<div class="col-8">
									<input class="form-control" type="text" th:value="${company.kindName}" id="kindName" name="kindName" readonly disabled>
								</div>
							</div>
						</div>
					</div>

					<div class="row align-items-center mb-5">
						<div class="col-5">
							<div class="row g-3 align-items-center">
								<div class="col-4">
									<label for="cost" class="col-form-label ms-3">계약비용</label>
								</div>
								<div class="col-8">
									<input class="form-control" type="text" th:value="${company.cost}" id="cost" name="cost" readonly disabled>
								</div>
							</div>
						</div>
						<div class="col-5">
							<div class="row g-3 align-items-center">
								<div class="col-4">
									<label for="cost" class="col-form-label ms-3">건물명</label>
								</div>
								<div class="col-8">
									<input class="form-control" type="text" th:value="${company.buildName}" id="buildName" name="buildName" readonly disabled>
								</div>
							</div>
						</div>
					</div>
					
					<div class="row">
						<div class="col-5"></div>
						<div class="col-5">
							<div class="d-flex gap-4 justify-items-center">
								<a class="col btn btn-primary" type="button" th:href="@{/admin/buildings/{buildId}/companies/{companyId}/update(buildId=${company.buildId}, companyId=${company.companyId})}">수정</a>
								<button class="col btn btn-info text-white" type="submit">삭제</button>
								<a class="col btn btn-outline-primary" type="button" href="/admin/buildings/companies">목록</a>
							</div>
						</div>
					</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>