<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>SMARTBUTLER</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" as="style" crossorigin
	href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css" />
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/common.css">
<link rel="stylesheet" href="/css/admin.css">
<link rel="apple-touch-icon" sizes="180x180"
	href="/img/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32"
	href="/img/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16"
	href="/img/favicon-16x16.png">
<link rel="manifest" href="/img/site.webmanifest">
</head>
<body>
	<div id="wrap">
		<div th:replace="~{common/fragments :: adminHeader}"></div>
		<div th:replace="~{common/fragments :: adminSidebar}"></div>
		<div class="container">
			<div class="bread-crum">
				<ul class="">
					<li><a href="/">HOME</a><span> ></span></li>
					<li><a href="#">계약업체</a><span> ></span></li>
					<li><a href="#">업체현황</a></li>
				</ul>
			</div>
			<div class="content">
				<div class="d-flex justify-content-end mb-3">
					<button class="col-2 btn btn-primary" type="button"
						onclick="location.href='/admin/buildings/companies/add'">신규등록</button>
				</div>
				<table class="table table-hover">
					<thead>
						<tr>
							<th scope="col">업체번호</th>
							<th scope="col">건물명</th>
							<th scope="col">업체명</th>
							<th scope="col">담당자명</th>
							<th scope="col">전화번호</th>
							<th scope="col">계약시작일</th>
							<th scope="col">계약종료일</th>
							<th scope="col">담당업무</th>
							<th scope="col">계약비용</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="company:${companies}">
							<td><a th:text="${company.companyId}" th:href="@{/admin/buildings/{buildId}/companies/{companyId}(buildId=${company.buildId}, companyId=${company.companyId})}"></a></td>
							<td th:text="${company.buildName}"></td>
							<td th:text="${company.companyName}"></td>
							<td th:text="${company.manager}"></td>
							<td th:text="${company.phone}"></td>
							<td th:text="${company.fromDate}"></td>
							<td th:text="${company.toDate}"></td>
							<td th:text="${company.kindName}"></td>
							<td th:text="${company.cost}"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<script type="text/javascript">document.getElementById('sub4').style.display = 'block';</script>
</body>
</html>