<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SMARTBUTLER</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
    <link rel="manifest" href="/img/site.webmanifest">
</head>
<body>
	<div id="wrap">
        <header class="d-flex align-items-center">
            <div class="logo"><img alt="로고" src="/img/logo.png" class="align-middle" width="64"></div>
            <div><h1><a href="/" class="logo-text">SMARTBUTLER</a></h1></div>
        </header>
        <div id="navi" class="">
            <ul>
                <li><a href="#">건물정보</a></li>
                <li><a href="#">시설관리</a></li>
                <li><a href="#">임대관리</a></li>
                <li><a href="#">견적관리</a></li>
                <li><a href="#">계약업체</a></li>
                <li><a href="#">커뮤니티</a></li>
                <li><a href="#">회원정보</a></li>
            </ul>
        </div>
        <div class="container">
        	<div class="bread-crum">
				<ul class="">
					<li><a href="#">HOME</a><span> ></span></li>
					<li><a href="#">시설관리</a><span> ></span></li>
					<li><a href="#">시설상세</a></li>
				</ul>
			</div>
	        <div class="content form-content">
		        <th:block th:if="${not #strings.isEmpty(user.userId)}">
			        <form action="/admin/item/list/{itemId}/insert(itemId = ${item.itemId)})" method="POST"></form>
			    </th:block>
	        	<div class="row align-items-center mb-4">
		        	<div class="col-2">
						<label for="" class="ms-5">시설번호</label>
					</div>
					<div class="col-4">
						<input type="text" class="form-control">
					</div>
					<div class="col-2">
						<label for="" class="ms-5">사용시작일</label>
					</div>
					<div class="col-4">
						<input type="date" class="form-control">
					</div>
				</div>
				<div class="row align-items-center mb-4">
		        	<div class="col-2">
						<label for="" class="ms-5">건물명</label>
					</div>
					<div class="col-4">
						<input type="text" class="form-control">
					</div>
					<div class="col-2">
						<label for="" class="ms-5">상태</label>
					</div>
					<div class="col-4">
						<input type="text" class="form-control">
					</div>
				</div>
				<div class="row align-items-center mb-4">
		        	<div class="col-2">
						<label for="" class="ms-5">시설명</label>
					</div>
					<div class="col-4">
						<input type="text" class="form-control">
					</div>
					<div class="col-2">
						<label for="" class="ms-5">점검날짜</label>
					</div>
					<div class="col-4">
						<input type="date" class="form-control">
					</div>
				</div>
				<div class="row align-items-center mb-4">
		        	<div class="col-2">
						<label for="" class="ms-5">시설종류</label>
					</div>
					<div class="col-4">
						<input type="text" class="form-control">
					</div>
					<div class="col-2">
						<label for="" class="ms-5">점검주기</label>
					</div>
					<div class="col-4">
						<input type="text" class="form-control">
					</div>
				</div>
				<div class="row align-items-center mb-4">
		        	<div class="col-2">
						<label for="" class="ms-5">시설위치</label>
					</div>
					<div class="col-4">
						<input type="text" class="form-control">
					</div>
				</div>
				<div class="row justify-content-end mt-3">
				<th:block th:if="${not #strings.isEmpty(user.userId)}">
					<div th:unless="${#strings.isEmpty(user.userId)}" class="col-1 me-3">
						<input type="submit" class="btn btn-info text-white" value="수정">
					</div>
				</th:block>
					<input type="button" class="btn btn-primary col-1 me-3" value="삭제">
					<input type="button" class="btn btn-outline-dark col-1 me-3" value="목록">
				</div>
	        </div>
        </div>
	</div>
</body>
</html>