<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
    <title>SMARTBUTLER</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
    <link rel="manifest" href="/img/site.webmanifest">
</head>
<body>
	<div id="wrap">
		<div th:replace="~{common/fragments :: adminHeader}"></div>
		<div th:replace="~{common/fragments :: adminSidebar}"></div>
        <div class="container">
        	<div class="bread-crum">
				<ul class="">
					<li><a href="#">HOME</a><span> ></span></li>
					<li><a href="#">시설관리</a><span> ></span></li>
					<li><a href="#">시설목록</a></li>
				</ul>
			</div>
			<div class="content">
				<div class="row g-3 justify-content-center align-items-center mb-4">
                    <div class="col-1 mb-3">
                    	<label for="buildId" class="fs-5 fw-bold">건물명</label>
                    </div>
                    <div class="col-3 mb-3">
	                    <form action="" id="infoForm">
	                    	<select class="form-select" id="buildId" name="buildId" onChange="changeBuild()">
	                    		<option class="form-option" th:each="builds: ${builds}" th:value="${builds?.buildId}"
	                    			th:selected="${build?.buildId} == ${builds?.buildId}">[[${builds?.buildName}]]</option>
	                    	</select>
	                    </form>
                    </div>
                </div>
				<div class="d-grid justify-content-end my-2">
					<button type="button" class="btn btn-primary" th:onClick="|location.href='@{/admin/buildings/{buildId}/items/add(buildId = ${build.buildId})}'|">신규 등록</button>
				</div>
				<table class="table table-hover text-center">
					<thead>
						<tr>
							<th scope="col">시설번호</th>
							<th scope="col">건물명</th>
							<th scope="col">시설명</th>
							<th scope="col">종류</th>
							<th scope="col">위치</th>
							<th scope="col">사용시작일</th>
							<th scope="col">상태</th>
							<th scope="col">점검날짜</th>
							<th scope="col">점검주기</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>10001</td>
							<td>울트라타워</td>
							<td>엘레베이터 1호기</td>
							<td>엘리베이터</td>
							<td>7층</td>
							<td>2022-11-01</td>
							<td>사용</td>
							<td>2023-12-31</td>
							<td>1개월</td>
						</tr>
						<tr th:each="item: ${items}">
							<td>[[${item.itemId}]]</td>
							<td>[[${item.buildName}]]</td>
							<td><a th:href="@{/admin/buildings/{buildId}/items/{itemId}(buildId = ${item.buildId}, itemId = ${item.itemId})}">[[${item.itemName}]]</a></td>
							<td>[[${item.kindName}]]</td>
							<td>[[${item.location}]]</td>
							<td>[[${item.fromDate}]]</td>
							<td>[[${item.status}]]</td>
							<td>[[${item.checkDate}]]</td>
							<td>[[${item.checkCycle}]]</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<script type="text/javascript">
	function changeBuild() {
		let buildId = document.getElementById('buildId');
		let formId = document.getElementById('infoForm');
		
		formId.submit();
	}
	</script>
</body>
</html>