<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
    <title>SMARTBUTLER</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
    <link rel="manifest" href="/img/site.webmanifest">
</head>
<body>
	<div id="wrap">
		<div th:replace="~{common/fragments :: adminHeader}"></div>
		<div th:replace="~{common/fragments :: adminSidebar}"></div>
        <div class="container">
        	<div class="bread-crum">
				<ul class="">
					<li><a href="#">HOME</a><span> ></span></li>
					<li><a href="#">시설관리</a><span> ></span></li>
					<li><a href="#">시설등록</a></li>
				</ul>
			</div>
	        <div class="content form-content">
		        <!-- <form th:action="@{/admin/buildings/{buildId}/items/add(buildId = ${item.buildId})}" method="post"> -->
		        <form th:action="@{/admin/buildings/2/items/add}" method="post">
		        	<div class="row align-items-center mb-4">
			        	<div class="col-2">
							<label for="itemId" class="ms-5 fw-bold">시설번호</label>
						</div>
						<div class="col-4">
							<input type="number" name="itemId" class="form-control" readonly>
						</div>
						<div class="col-2">
							<label for="fromDate" class="ms-5 fw-bold">사용시작일</label>
						</div>
						<div class="col-4">
							<input type="date" name="fromDate" class="form-control">
						</div>
					</div>
					<div class="row align-items-center mb-4">
			        	<div class="col-2">
							<label for="buildName" class="ms-5 fw-bold">건물명</label>
						</div>
						<div class="col-4">
							<input type="text" name="buildName" th:value="${build?.buildName}" class="form-control" readonly>
						</div>
						<div class="col-2">
							<label for="status" class="ms-5 fw-bold">상태</label>
						</div>
						<div class="col-4">
							<input type="text" name="status" class="form-control">
						</div>
					</div>
					<div class="row align-items-center mb-4">
			        	<div class="col-2">
							<label for="itemName" class="ms-5 fw-bold">시설명</label>
						</div>
						<div class="col-4">
							<input type="text" name="itemName" class="form-control">
						</div>
						<div class="col-2">
							<label for="checkDate" class="ms-5 fw-bold">점검날짜</label>
						</div>
						<div class="col-4">
							<input type="date" name="checkDate" class="form-control">
						</div>
					</div>
					<div class="row align-items-center mb-4">
			        	<div class="col-2">
							<label for="kindType" class="ms-5 fw-bold">시설종류</label>
						</div>
						<div class="col-4">
							<input type="text" name="kindType" class="form-control">
						</div>
						<div class="col-2">
							<label for="checkCycle" class="ms-5 fw-bold">점검주기</label>
						</div>
						<div class="col-4">
							<input type="text" name="checkCycle" class="form-control">
						</div>
					</div>
					<div class="row align-items-center mb-4">
			        	<div class="col-2">
							<label for="location" class="ms-5 fw-bold">시설위치</label>
						</div>
						<div class="col-4">
							<input type="text" name="location" class="form-control">
						</div>
					</div>
					<div class="row justify-content-end mt-3">
						<input type="submit" class="btn btn-primary col-1 me-3" value="저장">
						<button type="button" class="btn btn-outline-dark col-1 me-3" onClick="history.back()">취소</button>
					</div>
		        </form>
	        </div>
        </div>
	</div>
</body>
</html>