<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SMARTBUTLER</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
    <link rel="manifest" href="/img/site.webmanifest">
</head>
<body>
	<div id="wrap">
		<div th:replace="~{common/common :: adminHeader}"></div>
		<div th:replace="~{common/common :: workerSidebar}"></div>
		<div class="container">
			<div class="content">
				<table class="table">
					<thead>
						<tr>
							<th scope="col">작업번호</th>
							<th scope="col" class="col-md-6">제목</th>
							<th scope="col">요청날짜</th>
							<th scope="col">시설명</th>
							<th scope="col">건물명</th>
							<th scope="col">상태</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>10010</td>
							<td><a href="/worker/jobs/1">문 안 닫힘</a></td>
							<td>2024-01-15</td>
							<td>엘리베이터1호기</td>
							<td>강남1호점</td>
							<td>완료</td>
						</tr>
						<tr th:each="job: ${job}">
							<td>[[${job.jobId}]]</td>
							<td><a th:href="@{/worker/jobs/{jobId}(jobId = ${job.jobId})}">[[${job.title}]]</a></td>
							<td>[[${job.askDate}]]</td>
							<td>[[${job.itemName}]]</td>
							<td>[[${job.buildName}]]</td>
							<td>[[${job.status}]]</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>
</html>