<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>SMARTBUTLER</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css" />
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/common.css">
	<link rel="stylesheet" href="/css/user.css">
	<link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
	<link rel="manifest" href="/img/site.webmanifest">
</head>
<body>
	<div th:replace="~{common/fragments :: userHeader}"></div>
		<div class="container" style="float: none;">
		<div class="content form-content">
			<h1 class="text-center mt-5">내 정보</h1>
				<form action="/user/mypage/edit" th:method="put">
					<div class="row g-3 justify-content-center align-items-center mb-4 mt-3">
						<div class="col-7 mt-3 border-top border-5 border-black"></div>
					</div>
					<div class="row g-3 justify-content-center align-items-center mt-3 mb-4">
						<div class="col-2">
							<label for="email" class="fw-bold ms-4">이메일</label>
						</div>
						<div class="col-4">
							<input type="email" name="email" class="form-control bg-dark-subtle" th:value=${user?.email} readonly>
						</div>
					</div>
					<div class="row g-3 justify-content-center align-items-center mb-4">
						<div class="col-2">
							<label for="password" class="fw-bold ms-4">비밀번호</label>
						</div>
						<div class="col-4">
							<input type="password" name="pw" id="password" class="form-control" required>
						</div>
					</div>
					<div class="row g-3 justify-content-center align-items-center mb-4">
						<div class="col-2">
							<label for="passwordCheck" class="fw-bold ms-4">비밀번호 확인</label>
						</div>
						<div class="col-4">
							<input type="password" id="passwordCheck" class="form-control" required>
						</div>
					</div>
					<div class="row g-3 justify-content-center align-items-center mb-4">
						<div class="col-2">
							<label for="userName" class="fw-bold ms-4">이름</label>
						</div>
						<div class="col-4">
							<input type="text" name="userName" class="form-control bg-dark-subtle" th:value=${user?.userName} readonly>
						</div>
					</div>
					<div class="row g-3 justify-content-center align-items-center mb-4">
						<div class="col-2">
							<label for="phone" class="fw-bold ms-4">휴대폰 번호</label>
						</div>
						<div class="col-4">
							<input type="tel" name="phone" th:value=${user?.phone} oninput="hypenTel(this)" maxlength="13" pattern="(010)-\d{3,4}-\d{4}" title="형식 010-0000-0000" class="form-control" required>
						</div>
					</div>
					<div class="row g-3 justify-content-center align-items-center mt-3 mb-4">
						<div class="col-7 mt-3 border-top border-5 border-black"></div>
					</div>
					<div>
						<div class="row justify-content-center">
							<input type="submit" class="btn btn-primary col-auto me-3" value="완료">
							<button type="button" class="btn btn-secondary col-auto me-3" onclick="location.href='/user/mypage'">뒤로가기</button>
							<input type="hidden" name="userId" id="userId" th:value="${user.userId}">
							<input type="hidden" name="role" value="USER">
						</div>
					</div>
				</form>
			</div>
		</div>
	<div th:replace="~{common/fragments :: userFooter}"></div>
	<script type="text/javascript">
	let password = document.getElementById("password")
	  , passwordCheck = document.getElementById("passwordCheck");

	function confirmPassword(){
	  if(password.value != passwordCheck.value) {
		  passwordCheck.setCustomValidity("비밀번호가 다릅니다");
	  } else {
		  passwordCheck.setCustomValidity('');
	  }
	}
	password.onchange = confirmPassword;
	passwordCheck.onkeyup = confirmPassword;
	
	const hypenTel = (target) => {
		 target.value = target.value
		   .replace(/[^0-9]/g, '')
		   .replace(/^(\d{2,3})(\d{3,4})(\d{4})$/, `$1-$2-$3`);
		}
	</script>
</body>
</html>