<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org">
	<div id="header" th:fragment="header" style="background-color:#eee;">
		<div>
			<span><a href="/">index</a></span>
			<span><a href="/info">info</a></span>
			<span><a href="/dashboard">dashboard</a></span>
			<span><a href="/admin">admin</a></span>
		</div>
		<div>
			<!-- 인증되지 않은(로그인하지 않은) 사용자 -->
			<span><a sec:authorize="isAnonymous()" th:href="@{/admin/login}">로그인</a></span>
			<span><a sec:authorize="isAnonymous()" th:href="@{/join}">회원가입</a></span>
			<span><a sec:authorize="isAnonymous()" th:href="@{/join/admin}">회원가입-관리자</a></span>
			
			<!-- 인증된(로그인 한) 사용자 -->
			<span><a sec:authorize="isAuthenticated()" th:href="@{/admin/logout}">로그아웃</a></span>
		</div>
		<div>
			<!-- 인증시 사용된 객체에 대한 정보 -->
			<span>🎋인증에 사용된 객체 정보 : </span>
			<span sec:authorize="isAuthenticated()" sec:authentication="principal"></span>
		</div>
		<div>
			<!-- 인증시 사용된 객체의 username (ID) -->
			<span>🎁username : </span>
			<span sec:authorize="isAuthenticated()" sec:authentication="name"></span>
			<span> / </span>
			<span sec:authorize="isAuthenticated()" sec:authentication="principal.username"></span>
		</div>
		<div>
			<!-- 인증시 사용된 객체의 role (권한) -->
			<span>✨role : </span>
			<span sec:authorize="isAuthenticated()" sec:authentication="authorities"></span>
			<span sec:authorize="isAuthenticated()" sec:authentication="principal.authorities"></span>
		</div>
		<div>
			<!-- ROLE_ADMIN 권한 있으면, 화면에 표시 (출력) -->
			<span sec:authorize="hasRole('ADMIN')">관리자</span>
			<!-- ROLE_USER 권한 있으면, 화면에 표시 (출력) -->
			<span sec:authorize="hasRole('USER')">사용자</span>
			<span> / </span>
			<!-- ROLE_ADMIN, ROLE_USER 권한 있으면, 화면에 표시 (출력) -->
			<span sec:authorize="hasAnyRole('ADMIN','USER')">관리자 또는 사용자</span>
		</div>
	</div>
</html>















